<launch>
  <arg name="joystick_port" default="js0"/>
  
  <param command="$(find xacro)/xacro $(find unoffcial_dog_description)/urdf/unoffcial_dog.xacro" name="robot_description"/>
  <node 
  	name="spawn_urdf" 
  	pkg="gazebo_ros" 
  	type="spawn_model"
  	args="-param robot_description -urdf -model unoffcial_dog
  	
  	
  	-J left_back_adduction_joint 0
  	-J left_back_thigh_joint -0.52
  	-J left_back_knee_joint -1.57
  	-J right_back_adduction_joint 0
  	-J right_back_thigh_joint -0.52
  	-J right_back_knee_joint -1.57
  	-J left_front_adduction_joint 0
  	-J left_front_thigh_joint -0.52
  	-J left_front_knee_joint -1.57
  	-J front_right_adduction_joint 0
  	-J front_right_thigh_joint -0.52
  	-J front_right_knee_joint -1.57"
  	output="screen"/>
  
   
  
    
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  
  <include file="$(find unoffcial_dog_description)/launch/controller.launch" />
  
  <node name="joy_node" pkg="joy" type="joy_node" >
  	<param name="dev" type="string" value="/dev/input/$(arg joystick_port)" />
  </node>
 
  
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  
  <!-- <node name="gait" pkg="unoffcial_dog_description" type="gait.py" /> -->

  
</launch>
